body {
  font-family: roboto;
}

.top_box {
  border: solid #ccc 1px;
  padding:  10px;
  margin: 10px;
}

.link_box {
  margin:  5px;
  padding: 10px;
  cursor: pointer;
  background-color: #ccc;
}

.link_box:hover {
  background-color: #aaa;

}

.mid_panel{
  box-sizing: border-box;
}

.head_div{
  position: fixed;
  right: 0;
  left: 0;
  z-index: 50;
  background-color: #24373e;
  /* box-shadow: 0px 0px 10px 0px #ddd; */
  border-bottom: solid #24373e 1px;
}

.logo{
  font-weight: 900;
  margin-top: 15px;
  color: black;
  font-size: 25px;
  
  vertical-align: middle;
  margin-right: 10px;
  color: #006666
}

.heading{
  font-size: 15px;
  line-height: 1.7;
  font-weight: 600;
  padding: 15px 22px;
  color: #b4b5b8;
  border-radius: 2px;
}
.heading:hover{
  cursor: pointer;
  color:#006666;
  font-size: 15px;

}

.submenudropdown{
   padding: 8px 30px;
   color:#00dfcf; 
   font-size: 18px;
 }
 
.submenudropdown:hover{
  color:#fff;
  background-color:#00dfcf;
  cursor: pointer;
  
}
.menu{
line-height: 1.7;
padding: 10px 22px;
color: #b4b5b8;
}
  
.menu:hover{
cursor: pointer;
color:#006666; 
}

.below_div_of_header{
  text-align: left;
  background-color: #7a98a1;
  padding-top: 15px;
  padding-bottom: 15px;
  color:#fff;
}
.inside_div_of_below_div{
  font-size: 18px;
  word-spacing: 2px;;
}
.main_div {
  margin: auto;
  max-width: 90%;
}
.first_paragraph{
  font-size: 20px;
  line-height: 30px;
  text-align: justify;

}
.second_paragraph{
  font-size: 18px;
  line-height: 25px;
}
.third_paragraph{
  font-size: 18px;
  line-height: 25px;
  padding-bottom: 25px;
  color:#333;
}
.second_part_of_content_div{
  margin-top:-10px ;
}

.line_through {
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center; 
}
.line_through:before, .line_through:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 1px;
  content: '\a0';
  background-color: #ccc;

}
.line_through:before {
  margin-left: -50%;
  text-align: right;

}
.side_content_card{
  width: calc(100% - 250px);
  /* border:solid yellow 1px; */
  box-sizing: border-box; 
  padding-left: 15px;
  text-align: justify;
}
.img_in_side_content_card_div{
  width:248px;
  /* border:solid  blue 1px; */
  box-sizing: border-box;
}

.repeat_card{
  color: #333; 
  border-Radius: 4px; padding: 20px; 
  box-shadow: 2px 2px 5px #888888; 
  background-color: #fff;
  box-sizing: border-box;
  padding-bottom: 10px;
}
.repeat_card:hover{
  cursor: pointer;
}

.bottom_content{
  box-sizing: border-box;
}
.bottom_content_div{
  padding:5px 1px;
  font-size: 14px;
}

.bottom_content_div > a:hover{
  color: #00dfcf;
}
a {
  color: #eee ;
}

.colorful_heading{
  font-size:20px;
  font-weight:600;
  color:#00dfcf; 
  letter-spacing: 1px;
}

.colorful_heading_in_repeat{
  font-size:18px;
  font-weight:400;
  color:#00dfcf; 
  letter-spacing: 1px;
  padding: 15px 1px;
}

.submenu_dropdown_card{
  border: solid #ccc 1px;;
  border-radius: 7px;
  background-color: #fff;
  font-size: 25px;
}

.form_card{
  color: #666; 
  margin: 15px 1px;
  margin-left: 35px;
  margin-right: 20px;
}

.information_card{
  border: solid #eee 1px;;
  border-radius: 4px;
  background-color: #fff;
  font-size: 25px;
  margin-top: 20px;
}

.person_info_left{
  font-size: 17px;
  font-weight: 600;
  color: black;
  letter-spacing: 1px;
}

.person_info_right{
  margin-left: 15px;
  color: #333;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
}

.massage_card{
  background-color: #d5d3d2;
  
}
.location{
  text-align:center;
  font-size:15px; color:#333;
  letter-spacing:1px;
  margin-top:-5px; 
  padding:10px 1px;
  background-color:#eae7e8;
  line-height:25px
}




/* #7a98a1 */
/* #00dfcf */
/* #d9d3d2 */
/* #fcad4e */
/* #91f9f6 */
/* #24373e */

.input_div{
  padding-bottom: 13px; 
  margin:1px 35px;
}

.input_name{
  padding: 7px 0px; 
  font-size: 15px;
}

.input_text{
  padding: 5px 6px; 
  width:100%;
  outline: none;
  border:solid #ccc 1px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 2;
  
}
.input_text:hover{
  box-shadow: 2px 3px 5px #ccc;
}

.message_text{
  padding: 5px 6px; 
  width:100%;
  outline: none;
  border:solid #ccc 1px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.5;
  
  
}
.message_text:hover{
  box-shadow: 2px 3px 5px #ccc;
}
.subtitle{
  font-size: 22px;
  font-weight: 600;
}

.sendbutton{
  background-color:#00c4b8;
  width:100%;
  color:#fff;
  height: 50px;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 8px 10px;
  font-size: 18px;
  line-height: 1.42857143;
  border-radius: 4px;
  outline: none;
}

.sendbutton:hover{
  box-shadow: 2px 3px 5px #bbb;
}

.mlr5 {
  margin-left: 5px;
  margin-right: 5px;
}

.m10 {
  margin: 10px;
}

.m20 {
  margin: 20px;
}

.bbox {
  box-sizing: border-box;
}

.bred {
  border:  solid red 1px;
  box-sizing: border-box;
}


.menu_div{
  /* border-bottom:solid #ccc 1px; */
   padding: 8px 10px;
   width:120px;
   color:#333; 
   font-size: 15px;
 }
 
 .menu_div:hover{
   background-color:#f9f9f9;
   color:#00c4b8;
 
 }
 
 /* .menu_div > a {
   color:#333; 
 } */
 .menu_div:hover > a{
   color:#00c4b8; 
 }
